<% @pagetitle = "New Task"%>

<h1><%= @pagetitle %></h1>

<hr>





<!-- <h1>New Task</h1> -->


<ol class ="breadcrumb">
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li>
  <%= link_to @project.name, project_path(@project) %>
  </li>
  <li class="active">New Task</li>
</ol>

<%= render 'form' %>
