<!--<% @pagetitle = "Edit User"%>

<h1><%= @pagetitle %></h1>-->

<h1>Edit User</h1>

<hr>


<!-- <h1>Edit User</h1> -->

<!-- <ol class ="breadcrumb">
  <li>
    <a href="/users">Users</a>
  </li>
  <li class="active">Edit user</li>
</ol> -->


<%= render 'form' %>




<!-- <%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> -->
