<!--<% @pagetitle = "Edit Project"%>

<h1><%= @pagetitle %></h1>-->

<h1>Edit Project</h1>

<hr>


<!-- <h1>Edit User</h1> -->

<!-- <ol class ="breadcrumb">
  <li>
    <a href="/projects">Projects</a>
  </li>
  <li class="active">Edit project</li>
</ol> -->


<%= render 'form' %>




<!-- <%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %> -->
