<!-- <% @pagetitle = "New Project"%>

 <h1><%= @pagetitle %></h1> -->


 <h1>Create Project</h1>

<hr>





<!-- <h1>New Project</h1> -->


<!-- <ol class ="breadcrumb">
  <li>
    <a href="/projects">Project</a>
  </li>
  <li class="active">New Project</li>
</ol> -->

<%= render 'form' %>

<!-- <%= link_to 'Back', projects_path %> -->
