@import "bootstrap-sprockets";
@import "bootstrap";


// .navbar {
//   background-color: #424242;
// }


// .navbar-brand {
//   // letter-spacing: 2px;
//    //text-indent: 15px;
//   // font-size: 165%;
//   // padding-bottom: 40px;
//   // background-color: #424242;
//   // I couldn't figure out how to change font color within this style sheet. Changed in html instead.
// }


body
{
  padding-top: 65px;
}


// .jumbotron {
//   // margin-top: 20px;
//   // padding-top: 4px;
//   // padding-left: 20px !important;
//   // padding-bottom: 20px;
//   // border: 1px;
//   // border-color: black;
//   // border-style:solid;
//   // border-radius: 0 !important;
//   //font-size: 155%;
// }


// p.jumbotronsubtitle
// {
//   font-size: 155%;
// }

//Again, couldn't figure out how to change font color within this style sheet. Changed in html instead.

//
// .panel-default > .panel-heading {
//   // background-color: #A9D0F5;
//   // padding-bottom: 8px;
//   // border: 1px;
//   // border-color: black;
//   // border-style: solid;
// }
//
//
// .panel-title{
//   // font-family: "Comic Sans MS", cursive, sans-serif;
//   // font-size: 175%;
//   // font-weight: bold;
// }
// //Again, couldn't figure out how to change font color within this style sheet. Changed in html instead.
//
//
//
// .panel-body
// {
//   // border: 1px;
//   // border-color: black;
//   // border-style:solid;
// }
//
// p.panels {
//   // font-family: "Comic Sans MS", cursive, sans-serif;
//   // font-size: 175%;
// }

// p.quoters {
//   font-weight: bold;
//   font-size: 175%;
// }
//
// p.quoters {
//   font-style: text-muted;
// }

.img-footer
{
  max-height: 30px;
  max-width: 30px;
}

.btn
{
    margin-left:10px;
}

li.nameofloggedinuser
{
background-color: rgba(0, 0, 0, 0);
box-sizing: border-box;
cursor: auto;
color: white;
display: inline;
float: left;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: 50px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: relative;
text-align: left;
text-decoration: none;
visibility: visible;
max-width: 300px;
}
